<section id="contact">
    <h2>Redes Sociais</h2>

    <div class="redes">
        <div>
            <a href="mailto:luksmnt1101@gmail.com" target="_blank">
                <gmail-contact></gmail-contact>
            </a>
            <p>Gmail</p>
        </div>

        <div>
            <a href="https://www.linkedin.com/in/lucas-morais-152672219/" target="_blank">
                <linkedin-contact></linkedin-contact>
            </a>
            <p>LinkedIn</p>
        </div>

        <div>
            <a href="https://github.com/lucasmoraist" target="_blank">
                <github-contact></github-contact>
            </a>
            <p>GitHub</p>
        </div>
    </div>
</section>