h2{
    margin-bottom: 52px;
}

.redes{
    display: flex;
    gap: 18px;
}

p{
    text-align: center;
    color: #1F2626;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: 400;
} 
