<section>
    <h2>Sobre mim</h2>

    <div>
        <p>
            Desde criança sempre gostei muito de computador, apesar de não ter um onde eu vivia sempre que eu ia pra
            casa do meu pai ou dos meus primos eu vivia no computador, jogandos jogos e assistindo vídeos, em específico
            sobre como baixar um jogo ou passar de uma fase que achava impossível.
            <br>
            <br>
            Aos meus 16 anos pude ter meu primeiro computador e comecei baixando alguns jogos que estavam em alta e que
            nunca tive oportunidade de jogar, aos
            meus 17 anos criei meu primeiro protótipo de aplicativo mobile para o projeto da escola, onde tivemos que
            criar uma startup e eu fiquei responsável pelo plano de négocios, gerenciar perdas e ganhos, chegando ao
            final
            do projeto eu tive a iniciativa de criar um protótipo de um aplicativo mobile, apesar de não ter sido
            solicitado eu vi que isso seria um diferencial para nosso grupo
            e eu que já pensava em cursar a área só conclui que escolhi o caminho certo e dai em diante comecei cursos
            de programação em Python pela Udemy, e HTML5 pelo Curso
            em Vídeo, do Professor Guanabara.
            <br>
            <br>
            Em 2022 entrei para FIAP para cursar Análise e Desenvolvimento de Sistemas e foram os melhores anos que já
            tive, pude aprender diversas linguagens de programação e metodologias de trabalho, tive a oportunidade de
            trabalhar em diferentes tipos de desafios propostos pelas empresas parceiras como: IBM, Plusoft, NotreDame
            Intermédica, Stellantis e entre outras. E agora em 2023 conclui minha graduação e estou indo para minha pós
            em Engenharia de Software, onde terei novos desafios e aprendizados em 2024.
        </p>
    </div>

</section>