<section id="experience">
    <h2>Minha Experiência</h2>

    <div id="info">
        <h3>Agente de inclusão digital</h3>
        <p>Abril 2022 - Hoje</p>
    </div>

    <div id="descricao">
        <p>
            Hoje em dia eu trabalho como Agente de Inclusão Digital na <a href="https://www.sobei.org.br/">SOBEI</a>,
            onde minha principal função é administrar cursos de Informática Básica com ferramentas Google, semelhantes
            ao pacote office, Goolge Sheets (Planilhas) e Desenvolimento Web com HTML, CSS e JS. Meu público alvo são
            pessoas idosas, jovens que não possuem acesso a computadores em casa e para adultos que não tiveram o mesmo
            nível de contato que os jovens e crianças que tem hoje em dia. Fora essa minha função eu também ajudo outros
            setores com planilhas grandes e complexas.
        </p>
    </div>
</section>