<section id="projects">
    <h2>Projects</h2>

    <div id="container">
        <div class="blocos">
            <h3>TITLE PROJECT</h3>
            <div>
                <p>PostgreSQL</p>
                <p>SQL</p>
                <p>Python</p>
            </div>
            <p class="descricao">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim
                velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

            <a href="#">Repositório do Git</a>
        </div>

        <div class="blocos">
            <h3>TITLE PROJECT</h3>
            <div>
                <p>PostgreSQL</p>
                <p>SQL</p>
                <p>Python</p>
            </div>
            <p class="descricao">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim
                velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

            <a href="#">Repositório do Git</a>
        </div>

        <div class="blocos">
            <h3>TITLE PROJECT</h3>
            <div>
                <p>PostgreSQL</p>
                <p>SQL</p>
                <p>Python</p>
            </div>
            <p class="descricao">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim
                velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

            <a href="#">Repositório do Git</a>
        </div>

        <div class="blocos">
            <h3>TITLE PROJECT</h3>
            <div>
                <p>PostgreSQL</p>
                <p>SQL</p>
                <p>Python</p>
            </div>
            <p class="descricao">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim
                velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

            <a href="#">Repositório do Git</a>
        </div>
    </div>
</section>