<section id="projects">
    <h2>Projects</h2>

    <div id="container">
        <div id="table">
            <div class="blocos">
                <h3>CodeChella</h3>
                <div>
                    <p>React JS</p>
                    <p>Git</p>
                    <p>Azure App Service</p>
                </div>
                <p class="descricao">
                    O Festival CodeChella é uma celebração anual da música alternativa que se destaca por sua
                    diversidade de gêneros e sua missão de proporcionar uma experiência verdadeiramente encantadora e
                    inesquecível para todos os seus visitantes.
                </p>

                <a href="https://github.com/lucasmoraist/CodeChella" target="_blank" class="repo">Repositório do Git</a>
            </div>

            <div class="blocos">
                <h3>CodeChella API</h3>
                <div>
                    <p>Spring Boot</p>
                    <p>MySQL</p>
                    <p>Azure App Service</p>
                </div>
                <p class="descricao">
                    A API do Festival CodeChella é uma aplicação simples desenvolvida em Spring, composta por duas
                    classes principais: Pessoa e Ingresso. Seu objetivo é facilitar o armazenamento de dados no banco
                    relacionados às reservas de ingressos.
                </p>

                <a href="https://github.com/lucasmoraist/CodeChella-Api" target="_blank" class="repo">Repositório do Git</a>
            </div>
            <!--
            <div class="blocos">
                <h3>TITLE PROJECT</h3>
                <div>
                    <p>PostgreSQL</p>
                    <p>SQL</p>
                    <p>Python</p>
                </div>
                <p class="descricao">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

                <a href="#" class="repo">Repositório do Git</a>
            </div>
            
            <div class="blocos">
                <h3>TITLE PROJECT</h3>
                <div>
                    <p>PostgreSQL</p>
                    <p>SQL</p>
                    <p>Python</p>
                </div>
                <p class="descricao">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim
                    velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>

                <a href="#" class="repo">Repositório do Git</a>
            </div>
            -->
        </div>
        <a href="https://github.com/lucasmoraist?tab=repositories" target="_blank">
            <btn-primary text="VER TODOS PROJETOS"></btn-primary>
        </a>
    </div>
</section>