/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root{
    --background-gradient: linear-gradient(90deg, rgba(2,62,138,1) 39%, rgba(72,202,228,1) 100%);
    --btn-txt-color: #dbffff;
    --dark-color: #151717;
    --font-montserrat: 'Montserrat', sans-serif;
}